:root{
    --primary-color: #037a76;
    --secondary-color: #249f9c;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html,
body {
    height: 100%;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    
}

.container {
    width: 90%;
    margin: 0 auto;
    padding: 10px;
    overflow: none;
    font-size: 30px;
}

.app-header {
    background-color: var(--primary-color);
    box-shadow: 1px 1px 2px #249f9c;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    outline-color: white;
    outline-style: groove;
}

.app-header .container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 15px 10px;
}
.app-header .logo {
    width: 170px;
    margin-bottom: 16px;
}
.app-header input[type='text'] {
    padding: 7px;
    width: 300px;
    border: 0;
    border-radius: 3px;
}

.grid {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 20px;
    margin: auto;
    margin-top: 5%;
}

.grid .item {
    display: flex;
    flex-direction: column;
    background-color: rgb(10, 10, 10);
    border-radius: 10px;
    padding: 10px;
    text-align: center;
    outline-color: white;
    outline-style: solid;
    margin-bottom: 5%;
    transition-duration: 0.4s;
    cursor: pointer;
}

.grid .item a {
    font-size: 20px;
    color: var(--secondary-color);
    font-weight: bold;
    margin-bottom: 20px;
    text-decoration: none;
}
.grid .item h4 {
    margin-bottom: 5px;
}

.grid .item p {
    font-size: 20px;
    color: var(--secondary-color);
    font-weight: bold;
    margin-bottom: 20px;
}

.grid .item:hover {
    background-color: white;
}

.grid img {
    display: block;
    width: 100%;
    height: auto;
    border-radius: 20px;
    margin-left: auto;
    margin-left: auto;
}

.grid .button {
    display: flex;
    flex-direction: column;
    background-color: rgb(10, 10, 10);
    border-radius: 10px;
    padding: 10px;
    text-align: center;
    outline-color: white;
    outline-style: solid;
    margin-top: 10%;
    margin-bottom: 10%;
    transition-duration: 0.4s;
    cursor: pointer;
}

.grid .button:hover {
    background-color: white;
}

.grid .button p{
    font-size: 50px;
    color: var(--secondary-color);
    font-weight: bold;
    margin: 100px;
}

.input [type=text]{
    display: grid;
    width: 100%;
    height: 50px;
    border-radius: 20px;
    border: 40px var(--secondary-color);
    font-size: 30px;
    background-color: white;
    background-repeat: no-repeat;
    padding: 12px 20px 12px 20px;
    margin-top: 40px;
}
/*
.app-footer {
    flex-shrink: 0;
    background: white;
    color: black;
    padding: 10px;
    font-size: 14px;
    margin-top: 10px;
}

.app-footer ul {
    display: flex;
    align-items: center;
    justify-content: space-around;
    list-style: none;
}
*/
